.container{
display: flex;
width: 100%;
}

.img_author {
 width: 100%;
 height: auto;
 }


 /*.img_author:hover {filter: opacity(.5);}*/
 
.text-p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

hr {
    color:#806767;
    width: 100px;

}
.estudios__container_body hr{
  margin-top: 30px;
}
.estudios__container_body {
    background-color: #000000;
    padding: 15%;
  }
  
  .estudios__container_img {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-auto-rows: minmax(50px, auto);
  }
  .estudios__container_img div img {
   position: relative;
  }
  .estudios__container_img div img:hover::before {
    content: '';
    width: 100%;
    height: 300px;
    background-color: aqua;
    position: absolute;
  }
  .estudios__container_img div:nth-child(7) {
    grid-column: 2;
  }
  .estudios__container_img div:nth-child(5) {
    grid-row: 2 / 3;
    grid-column: 2;
  }
  
  
  .img_container_header {
  
    left: 0%;
    right: 0%;
    top: calc(50% - 42px / 2 - 2px);
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    color: #ffffff;
  }
  
  .img_container_author {
    height: 16px;
    left: 0%;
    right: 0%;
    top: calc(50% - 16px / 2 + 36px);
  
    /* small-caps */
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d8d8d8;
  }


  @media all and (max-width: 1080px) {

    .estudios__container_body {
        background-color: #000000;
      }
      
      .estudios__container_img {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        
      }
     
      .img_container_author {
        height: 16px;
        left: 0%;
        right: 0%;
        top: calc(50% - 16px / 2 + 36px);
      font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #d8d8d8;
      }
    
    
    
}