.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.section_titles{

color: #ffffff;
justify-content: center;
text-transform: uppercase;
font-family: trajan-pro-3, serif;
font-style: normal;
font-weight: normal;
font-size: 4rem;
line-height: 5rem;
text-align: center;


}

.section-subtitle{
font-family: trajan-pro-3, serif;
font-style: normal;
font-weight: normal;
font-size: 2.5rem;
color: #FFFFFF;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
/* Enlaces */
a {
  color: #ffffff;
  transition: color .3s;
}
a:hover{
  color: #9C6720;
}
/* Estilos de lineas hr */
.line {
  width: 100px;
  color: #888888;
  border-color: #888888;
  padding: 0;
  margin: 0;
} 
.line-left{
  display: block;
  float: left;
}
.line-center{
  display: block;
  float: center;
}
/*Estilos de párrafos*/


.text-gray{
  color: #979797;
  font-size: 1.2rem;
  line-height: 2rem;
}
